body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#282828;
	background:#000000;	
}
button {
	background:black;
	color:LightGray;
	border-color:#202020;
	font-size:16px;
	width:48%;
	height:40px;
}
span {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}
#PlayerHeader {
	color:#180F00;
	margin:2%;
	display:block;
}
	h1 {
		font-size:24px;
		margin:0px;
	}
	#credits {
		font-size:12px;
		font-weight:bold;
		margin:0px;
	}	
#songTitle {
	padding:20px;
	font-weight:bold;
}
#Player {
	position:fixed;	
	width:50%;
	height:100%;
	left:0%;
	top:0%;
	text-align:center;
}
#PlayerControls{
	display:none;
}
#Playlist {
	position:fixed;
	display:block;
	width:50%;
	height:100%;
	left:50%;
	top:0%;
	overflow-y:scroll;
	border-left-style:double;
	border-left-color:#000000;
	padding:0.5%;
	color:#000000;
}
.song {
	background:#000000;
}
.currentAndSelectedSong {
	color:#000000;
	background:#000000;
}
.currentSong {
	color:#000000;
	background:#000000;
}
.selectedSong{
	background:#000000;
}